/**********************************************
          LodgeMtn
***********************************************/

.lodge-mtn-container  {
  position: absolute;
  top: 0%;
  right: 700px;
  z-index: 2;
  animation-name: lodgeMtn;
  animation-duration: 3s;
}

@keyframes lodgeMtn {
  0%    { top: 100%;}
  60%    { top: 100%;}
  100%  { top: 0%;}
}

.lodge-mtn  {
  width: 700px;
  position: absolute;
  top: 217px;
  left: 0px;
  z-index: 1;
}

.beer-light-container {
  width: 100px;
  position: absolute;
  top: 179px;
  left: 510px;
  transform: rotate(9deg);
  opacity: 1;
  animation-name: lightsOn;
  animation-duration: 4s;
}

@keyframes lightsOn {
  0%    { opacity: 0;}
  99%    { opacity: 0;}
  100%  { opacity: 1;}
}

.beer-light {
  width: 100%;
  opacity: 1;
  animation: lightsFlicker infinite 8s;
}

@keyframes lightsFlicker {
  0%    { opacity: 1;}
  10%    { opacity: 1;}
  20%    { opacity: .5;}
  30%    { opacity: 1;}
  40%    { opacity: 1;}
  50%    { opacity: 0;}
  60%    { opacity: 1;}
  70%    { opacity: 1;}
  80%    { opacity: 1;}
  90%    { opacity: 1;}
  100%  { opacity: .5;}
}
