/**********************************************
          HomePage
***********************************************/

.home-page-container {
  width: 25%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 25%;
  overflow: hidden;
}

.home-page-foreground  {
  width: 100%;
  position: absolute;
  top: 439px;
  z-index: 10;
  animation-name: foregroundRise;
  animation-duration: 2s;
}

@keyframes foregroundRise {
  0%    { top: -400px;}
  100%  { top: 439px;}
}
