/**********************************************
          BeerSearch
***********************************************/

.beer-search-page-container {
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 50%;
  overflow: hidden;
}

.beer-search-page-foreground  {
  width: 100%;
  position: absolute;
  top: 54%;
  z-index: 10;
}

.beer-search-mtn  {
  width: 100%;
  position: absolute;
  top: 56%;
  left: 0px;
  z-index: 1;
}
