/**********************************************
          General
***********************************************/

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/**********************************************
          Body
***********************************************/

body  {
  transition: 3s;
  height: 100%;
  width: 100%;
  background: #3f180f;
}
