/**********************************************
          PageStrip
***********************************************/

.page-strip-container {
  width: 400%;
  height: 100vh;
  background: #f5e7e0;
  display: flex;
  position: relative;
  overflow: hidden;
  transition: 2s;
}

.contact-position  {
  top: 0%;
  right: 0%;
}

.home-position  {
  top: 0%;
  right: 100%;
}

.beer-search-position  {
  top: 0%;
  right: 200%;
}

.beer-locker-position  {
  top: 0%;
  right: 300%;
}
